body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 100px;
}

.start-button {
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background-color: #ddd;
  }
}
