####################################
# 🌐 공통 무시 파일 (모든 프로젝트 공통)
####################################
*.log
*.pid
*.map
.DS_Store
Thumbs.db

# IDE/에디터 관련
.vscode/
.idea/

# 환경 변수
.env
.env.local

####################################
# 📁 board_express 관련 무시 설정
####################################
board_express/node_modules/
board_express/images/
board_express/public/images/.gitkeep
board_express/.env
board_express/*.log

####################################
# 📁 ftp_server 관련 무시 설정
####################################


####################################
# 📁 motion_detect 관련 무시 설정
####################################
