<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail.ejs</title>
    <%- include('partials/bootstrap_css') %>
    <link rel="stylesheet" href="/stylesheets/detail.css" />
    <link rel="stylesheet" href="/stylesheets/cursor.css" />
  </head>
  <body>
    <!-- START 커서 효과 -->
    <%- include('partials/cursor_effect') %>
    <!-- END 커서 효과 -->
    <p>여기는 detail.ejs입니다.</p>
    <p><%= id %></p>
    <%- include('partials/bootstrap_js') %>
    <script src="/javascripts/cursorTrail.js"></script>
  </body>
</html>
