<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Landing Screen</title>

    <%- include('partials/bootstrap_css') %>
    <link rel="stylesheet" href="stylesheets/index.css" />
    <link rel="stylesheet" href="stylesheets/cursor.css" />
  </head>
  <body>
    <h1>Welcome to the Board</h1>
    <a
      href="/board"
      class="btn btn-light btn-lg rounded-pill px-5 py-3 start-button"
      >Start</a
    >

    <!-- START 커서 효과 -->
    <%- include('partials/cursor_effect') %>

    <!-- END 커서 효과 -->

    <%- include('partials/bootstrap_js') %>
    <script src="javascripts/cursorTrail.js"></script>
  </body>
</html>
